*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing : border-box;
    justify-content: center;
}
body{
    background-color:#e5e0f4;
    overflow-x: hidden;
}
header button {
  margin-bottom: 11px;
  height: 45px;
  width: 135px;
  background: #6f53f5;
  border: 1px solid #6f53f5;
  border-radius: 7px;
}
header button a {
  text-decoration: none;
}
header button h3 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    box-shadow: -1px 13px 12px -8px rgba(0,0,0,.15);
}
header .title a{
    text-decoration: none;
    border-bottom: 2px solid white;
    box-shadow: -1px 13px 12px -8px rgba(0,0,0,.15);
}
header .title h1{
    padding-top: 30px;
    margin-left: 60px;
    color: black;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-weight: 600;
    font-size: 38px;
}
header ul{
    padding-bottom: 70px;
    padding-right: 150px;
    margin-top: -47px;
}
header ul li{
    float: right;
    text-align: center;
    display: inline;
    margin-left: 20px;
}
nav ul li a{
    margin-right: 100px;
    text-decoration: none;
    color: black;
    overflow: hidden;
}
nav ul li a p{
    font-size: 18px;
    overflow: hidden;
}
.body1{
    text-align: center;
    margin-top: 140px;
    font-family: 'Oswald', sans-serif;
}
.body1 h1{
font-size: 90px;
}
.body1 .first{
    color: #7759f5;
}

.body1 .details{
  margin-top: 14px;
}

.body2{
    text-align: center;
    margin-top: 60px;
}
.body2 button {
  margin-bottom: 11px;
  height: 54px;
  width: 230px;
  background: #6f53f5;
  border: 1px solid #6f53f5;
  border-radius: 7px;
}
.body2 button a {
  text-decoration: none;
}
.body2 button h3 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body2 .text p{
font-size: 10px;
  padding-bottom: 80px;
  font-weight: bold;
  margin-top: -5px;
  color: #888;
}
    .body3 {
      padding: 20px;
      max-width: 600px;
      margin: auto;
    }
    .body3 h2 {
      color: #333;
      border-bottom: 2px solid #ccc;
      padding-bottom: 5px;
    }
    .body3 form {
      background: white;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .body3 input, button {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .body3 button {
      background: #007bff;
      color: white;
      cursor: pointer;
    }
    .body3 button:hover {
      background: #0056b3;
    }
    .body3 pre {
      background: #222;
      color: #0f0;
      padding: 10px;
      border-radius: 5px;
      overflow-x: auto;
    }
                          /* media */
/*!media 1000  */
@media (min-width:1001px) and (max-width:1200px){
header ul li {
  margin-left: 50px;
}
}
/*! media 900  */
@media (min-width:900px) and (max-width:1000px){
header ul {
  padding-right: 70px;
}
header ul li {
  margin-left: 50px;
}
.body1 h1 {
  font-size: 60px;
}

}
/*! media 800*/
@media (min-width:800px) and (max-width:899px){
header ul {
 padding-right: 15px;
}
header ul li {
  margin-left: 50px;
}
.body1 h1 {
  font-size: 60px;
}

}
/*! media 700*/
@media (min-width:700px) and (max-width:799px){
header ul {
 padding-right: 15px;
}
header ul li {
margin-left: 15px;
}
.body1 h1 {
  font-size: 60px;
}

}
/*! media 600*/
@media (min-width:600px) and (max-width:699px){
header .title h1 {
  margin-left: 14px;
}    
header ul {
 padding-right: 15px;
}
header ul li {
margin-left: 15px;
}
.body1 h1 {
  font-size: 50px;
}

.body2 {
  margin-top: 25px;
}
}
/*! media 500*/
@media (min-width:500px) and (max-width:599px){
header .title h1 {
  margin-left: 14px;
  font-size: 30px;
}    
header ul {
padding-right: 40px;
 margin-top: -26px;
}
.body1 h1 {
  font-size: 35px;
}

.body2 {
  margin-top: 25px;
}
nav ul li a p {
  font-size: 15px;
}
}
/*! media 400 */
@media (min-width:400px) and (max-width:499px){
header .title h1 {
  margin-left: 14px;
  font-size: 30px;
}    
header ul {
padding-right: 10px;
margin-top: 10px;
padding-bottom: 75px;
}
.body1 h1 {
  font-size: 35px;
}

.body2 {
  margin-top: 25px;
}
nav ul li a p {
  font-size: 15px;
}
}



































